astroid==2.13.5
black==22.3.0
click==8.1.7
coverage==7.6.1
dill==0.3.8
iniconfig==2.0.0
isort==5.13.2
lazy-object-proxy==1.10.0
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
pluggy==1.5.0
pylint==2.15.3
pytest==7.4.0
pytest-cov==4.0.0
tomlkit==0.13.2
wrapt==1.16.0
